﻿@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">Во время обработки вашего запроса произошла ошибка.</h2>

<h3>Режим разработки</h3>
<p>
    Переключение на <strong>Режим разработки</strong> среда отобразит более подробную информацию об ошибке, которая произошла.
</p>
<p>
    <strong>Среда разработки не должна включаться в развернутые приложения</strong>, так как это может привести к тому, что конфиденциальная информация из исключений будет отображаться для конечных пользователей. Для локальной отладки среды разработки, можно включить, установив <strong>ASPNETCORE_ENVIRONMENT</strong> переменную среды <strong>Development</strong>, и перезапустив приложение.
</p>
