﻿@model RepairEquipment.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h2>Детали</h2>

<div>
    <h4>Заказ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Номер заказа
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderId)
        </dd>
        <dt>
            Дата заказа
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt>
            Серийный номер
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt>
            Дата возврата
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
        <dt>
            Гарантийная отметка
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WarrantyNote)
        </dd>
        <dt>
            Окончание гарантии
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WarrantyRepairPeriod)
        </dd>
        <dt>
            Рабочий
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt>
            Модель
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModelId)
        </dd>
        <dt>
            Заказчик
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderId">Редактировать</a> |
    <a asp-action="Index">Вернуться</a>
</div>
