﻿@model RepairEquipment.Models.Order

@{
    ViewData["Title"] = "Edit";
}

<h2>Редактирование записи</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Заказ</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="OrderId" />
        <div class="form-group">
            <label asp-for="OrderDate" class="col-md-2 control-label">Дата заказа</label>
            <div class="col-md-10">
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SerialNumber" class="col-md-2 control-label">Серийный номер</label>
            <div class="col-md-10">
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ReturnDate" class="col-md-2 control-label">Дата возврата</label>
            <div class="col-md-10">
                <input asp-for="ReturnDate" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WarrantyNote" class="col-md-2 control-label">Гарантийная отметка</label>
            <div class="col-md-10">
                <input asp-for="WarrantyNote" class="form-control" />
                <span asp-validation-for="WarrantyNote" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WarrantyRepairPeriod" class="col-md-2 control-label">Окончание гарантии</label>
            <div class="col-md-10">
                <input asp-for="WarrantyRepairPeriod" class="form-control" />
                <span asp-validation-for="WarrantyRepairPeriod" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EmployeeId" class="col-md-2 control-label">Рабочий</label>
            <div class="col-md-10">
                @Html.DropDownList("EmployeeId", null, htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModelId" class="col-md-2 control-label">Модель</label>
            <div class="col-md-10">
                @Html.DropDownList("ModelId", null, htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="ModelId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CustomerId" class="col-md-2 control-label">Заказчик</label>
            <div class="col-md-10">
                @Html.DropDownList("CustomerId", null, htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Вернуться</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
