﻿@using PagedList.Core;

@model IPagedList<RepairEquipment.Models.Order>

@{
    ViewData["Title"] = "List";
}

<h2>Заказы</h2>

<p>
    <a asp-action="Create">Добавить запись</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Номер заказа
                </th>
                <th>
                    Дата заказа
                </th>
                <th>
                    Серийный номер
                </th>
                <th>
                    Дата возврата
                </th>
                <th>
                    Гарантийная отметка
                </th>
                <th>
                    Окончание гарантии
                </th>
                <th>
                    Рабочий
                </th>
                <th>
                    Модель
                </th>
                <th>
                    Заказчик
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarrantyNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarrantyRepairPeriod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
<form asp-controller="Order" asp-action="Index">
    <p>
        Введите серийный номер <input type="text" name="SearchString">
        <input type="submit" value="Поиск" />
    </p>
</form>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-page="@(Model.PageNumber - 1)"
   class="btn btn-default @prevDisabled">
    <
</a>
<a asp-action="Index"
   asp-route-page="@(Model.PageNumber + 1)"
   class="btn btn-default @nextDisabled">
    >
</a>