﻿@model RepairEquipment.Models.Model

@{
    ViewData["Title"] = "Delete";
}

<h2>Удаление записи</h2>

<h3>Вы уверены, что хотите удалить эту запись?</h3>
<div>
    <h4>Модель</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="ModelId" />
        <dt>
            Номер модели
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModelId)
        </dd>
        <dt>
            Название
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Тип
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModelType)
        </dd>
        <dt>
            Производитель
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt>
            Характеристики
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Specifications)
        </dd>
        <dt>
            Функции
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Features)
        </dd>
        <dt>
            Магазин
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Store)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            <a asp-action="Index">Вернуться</a>
        </div>
    </form>
</div>
