﻿@model RepairEquipment.Models.Model

@{
    ViewData["Title"] = "Details";
}

<h2>Детали</h2>

<div>
    <h4>Модель</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Номер модели
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModelId)
        </dd>
        <dt>
            Название
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Тип
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModelType)
        </dd>
        <dt>
            Производитель
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt>
            Характеристики
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Specifications)
        </dd>
        <dt>
            Функции
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Features)
        </dd>
        <dt>
            Магазин
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Store)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ModelId">Редактировать</a> |
    <a asp-action="Index">Вернуться</a>
</div>
