﻿@model RepairEquipment.Models.Model

@{
    ViewData["Title"] = "Edit";
}

<h2>Редактирование записи</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Модель</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ModelId" />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label">Название</label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModelType" class="col-md-2 control-label">Тип</label>
            <div class="col-md-10">
                <input asp-for="ModelType" class="form-control" />
                <span asp-validation-for="ModelType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Manufacturer" class="col-md-2 control-label">Производитель</label>
            <div class="col-md-10">
                <input asp-for="Manufacturer" class="form-control" />
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Specifications" class="col-md-2 control-label">Характеристики</label>
            <div class="col-md-10">
                <input asp-for="Specifications" class="form-control" />
                <span asp-validation-for="Specifications" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Features" class="col-md-2 control-label">Функции</label>
            <div class="col-md-10">
                <input asp-for="Features" class="form-control" />
                <span asp-validation-for="Features" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Store" class="col-md-2 control-label">Магазин</label>
            <div class="col-md-10">
                <input asp-for="Store" class="form-control" />
                <span asp-validation-for="Store" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Вернуться</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
