﻿@model RepairEquipment.Models.Spare

@{
    ViewData["Title"] = "Delete";
}

<h2>Удаление записи</h2>

<h3>Вы уверены, что хотите удалить эту запись?</h3>
<div>
    <h4>Запчасть</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="SpareId" />
        <dt>
            Номер запчасти
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpareId)
        </dd>
        <dt>
            Номер заказа
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderId)
        </dd>
        <dt>
            Название
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Функции
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Functions)
        </dd>
        <dt>
            Цена
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            <a asp-action="Index">Вернуться</a>
        </div>
    </form>
</div>
