﻿@model RepairEquipment.Models.Spare

@{
    ViewData["Title"] = "Details";
}

<h2>Детали</h2>

<div>
    <h4>Запчасть</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Номер запчасти
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpareId)
        </dd>
        <dt>
            Номер заказа
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderId)
        </dd>
        <dt>
            Название
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Функции
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Functions)
        </dd>
        <dt>
            Цена
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SpareId">Редактировать</a> |
    <a asp-action="Index">Вернуться</a>
</div>
