﻿@{
    ViewData["Title"] = "Подтверждение Email";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Благодарим вас за подтверждение вашей электронной почты. Пожалуйста <a asp-controller="Account" asp-action="Login">Нажмите сюда, чтоб войти</a>.
    </p>
</div>
