﻿@model ExternalLoginConfirmationViewModel
@{
    ViewData["Title"] = "Регистрация";
}

<h2>@ViewData["Title"].</h2>
<h3>Привяжи свой @ViewData["LoginProvider"] аккаунт.</h3>

<form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4>Форма привязки</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>

    <p class="text-info">
        Вы успешно прошли аутентификацию с помощью <strong>@ViewData["LoginProvider"]</strong>.
        Введите адрес электронной почты для этого сайта ниже и нажмите кнопку «Регистрация», чтобы закончить
        Вход в систему.
    </p>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Регистрация</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
