﻿@{
    ViewData["Title"] = "Заблокировано";
}

<header>
    <h1 class="text-danger">Заблокировано.</h1>
    <p class="text-danger">Эта учетная запись заблокирована, повторите попытку позже.</p>
</header>
