﻿@{
    ViewData["Title"] = "Подтвердите сброс пароля";
}

<h1>@ViewData["Title"].</h1>
<p>
    Ваш пароль был сброшен. Пожалуйста <a asp-controller="Account" asp-action="Login">Нажмите сюда, чтобы войти</a>.
</p>
