﻿@model RepairEquipment.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h2>Детали</h2>

<div>
    <h4>Рабочий</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Номер рабочего
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt>
            Ф.И.О
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            Телефон
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmployeeId">Редактировать</a> |
    <a asp-action="Index">Вернуться</a>
</div>
