﻿@model RepairEquipment.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h2>Детали</h2>

<div>
    <h4>Заказчик</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Номер заказчика
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt>
            Ф.И.О
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            Адрес
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomeAddress)
        </dd>
        <dt>
            Телефон
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CustomerId">Редактировать</a> |
    <a asp-action="Index">Вернуться</a>
</div>
