﻿@using PagedList.Core;

@model IPagedList<RepairEquipment.Models.Customer>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "Index";
}

<h2>Заказчики</h2>

<p>
    <a asp-action="Create">Добавить запись</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Номер заказчика
                </th>
                <th>
                    Ф.И.О
                </th>
                <th>
                    Адрес
                </th>
                <th>
                    Телефон
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.CustomerId">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.CustomerId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
<form asp-controller="Customer" asp-action="Index">
    <p>
        Введите Ф.И.О <input type="text" name="SearchString">
        <input type="submit" value="Поиск" />
    </p>
</form>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-page="@(Model.PageNumber - 1)"
   class="btn btn-default @prevDisabled">
    <
</a>
<a asp-action="Index"
   asp-route-page="@(Model.PageNumber + 1)"
   class="btn btn-default @nextDisabled">
    >
</a>
