﻿@model RepairEquipment.Models.Malfunction

@{
    ViewData["Title"] = "Delete";
}

<h2>Удаление записи</h2>

<h3>Вы уверены, что хотите удалить эту запись?</h3>
<div>
    <h4>Неисправность</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="MalfunctionId" />
        <dt>
            Номер неисправности
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MalfunctionId)
        </dd>
        <dt>
            Номер заказа
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderId)
        </dd>
        <dt>
            Название
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Методы починки
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RepairMethods)
        </dd>
        <dt>
            Цена
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkPrice)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            <a asp-action="Index">Вернуться</a>
        </div>
    </form>
</div>
