﻿@model RepairEquipment.Models.Malfunction

@{
    ViewData["Title"] = "Details";
}

<h2>Детали</h2>

<div>
    <h4>Неисправность</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Номер неисправности
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MalfunctionId)
        </dd>
        <dt>
            Номер заказа
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderId)
        </dd>
        <dt>
            Название
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Методы починки
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RepairMethods)
        </dd>
        <dt>
            Цена
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MalfunctionId">Редактировать</a> |
    <a asp-action="Index">Вернуться</a>
</div>
