﻿@using PagedList.Core;

@model IPagedList<RepairEquipment.Models.Malfunction>

@{
    ViewData["Title"] = "List";
}

<h2>Неисправности</h2>

<p>
    <a asp-action="Create">Добавить запись</a>
</p>
<table class="table">
    <thead>
        <tr>    
                <th>
                    Номер неисправности
                </th>
                <th>
                    Номер заказа
                </th>
                <th>
                    Название
                </th>
                <th>
                    Методы починки
                </th>
                <th>
                    Цена
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MalfunctionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepairMethods)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MalfunctionId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.MalfunctionId">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.MalfunctionId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
<form asp-controller="Malfunction" asp-action="Index">
    <p>
        Введите название <input type="text" name="SearchString">
        <input type="submit" value="Поиск" />
    </p>
</form>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-page="@(Model.PageNumber - 1)"
   class="btn btn-default @prevDisabled">
    <
</a>
<a asp-action="Index"
   asp-route-page="@(Model.PageNumber + 1)"
   class="btn btn-default @nextDisabled">
    >
</a>